/*GERAIS*/
.container {max-width: 1100px;}

.profile-pic img {width: 210px; height: 210px;}

h1{font-size: 3.4em;}

h2{font-size: 2em;}

.subtitle {font-size: 1.3rem;}

.buttons {gap: 20px;}

.icons img {width: 40px;}

footer {font-size: 0.8em;}

/*FIM GERAIS*/

@media (max-width: 768px), (min-width: 769px), (min-width: 2048px) {
    .icons img { width: 60px;}
}

@media (max-width: 480px), (min-width: 1000px), (min-width: 1280px) {
    .icons img {width: 40px;}
}

@media (min-width: 1400px), (min-width: 1504px) {
    .icons img {width: 50px;}
}


/*RESPONSIVO*/

@media (max-width: 768px) {
    body{padding: 50px;}

    .button { padding: 20px; width: 400px; font-size: 1.7em;}
}

@media (max-width: 480px) {
    body{padding: 20px;}

    .profile-pic img {width: 160px; height: 160px;}

    h1 { font-size: 2.8em; }

    h2 {font-size: 1.6em; }

    .subtitle {font-size: 1rem;}

    .buttons { gap: 15px; }

    .button {padding: 15px; width: 320px; font-size: 1.4em;}

}

@media (max-width: 390px) {
    body{padding: 10px; }
    
    .profile-pic img { width: 150px; height: 150px;}

    h1 { font-size: 2.4em;}

    h2 {font-size: 1.4em;}

    .subtitle {font-size: 0.9rem;}

    .button {padding: 12px; width: 270px; font-size: 1.2em;}
}

@media (max-width: 320px) {
    body{padding: 10px;}

    .profile-pic img {width: 130px; height: 130px;}

    h1 {font-size: 2.2em;}

    h2 {font-size: 1.2em;}

    .subtitle {font-size: 0.7rem;}

    .button {padding: 12px; width: 250px; font-size: 1.2em;}
}

@media (min-width: 769px) {
    body{padding: 50px;}

    .button {padding: 25px; width: 400px; font-size: 1.7em;}
}

@media (min-width: 1000px) and (max-width: 1180px) {
    body {padding: 10px;}

    .profile-pic img {width: 140px; height: 140px;}

    h1 {font-size: 2.2em; }

    h2 {font-size: 1.2em; }

    .subtitle {font-size: 0.7rem;}

    .buttons {gap: 8px; }

    .button {padding: 10px; width: 300px; font-size: 1.1em;}
}

@media (min-width: 1280px) and (max-width: 1504px) {
    body {padding: 10px;}

    .profile-pic img { width: 150px; height: 150px;}

    h1 {font-size: 2.3em;}

    h2 {font-size: 1.3em;}

    .subtitle {font-size: 0.8rem;}

    .buttons { gap: 12px;}

    .button {padding: 12px; width: 300px; font-size: 1em;}
}

@media (min-width: 1400px) {
    body {padding: 30px;}

    h1 { font-size: 2.8em;}

    h2 {font-size: 1.8em;}

    .button {padding: 20px; width: 400px; font-size: 1.6em;}
}

@media (min-width: 1504px) and (max-width: 1530px) {
    body {padding: 40px;  }

    .profile-pic img {width: 160px;  height: 160px;}

    h1 {font-size: 2.7em !important;}

    h2 { font-size: 1.7em !important; }

    .subtitle {font-size: 1.1rem;}

    .button { width: 370px; padding: 15px; font-size: 1.4em !important;}
}

@media (min-width: 2048px) {
    body { padding: 70px;}

    .button {padding: 25px; width: 400px; font-size: 1.6em;}
}